table{
    margin-left:auto; 
    margin-right:auto;
    border-style: solid;
    border: 1px solid #3f3f3f;
}

.scores{
    border: 1px solid #1d1d1d;
    border-collapse: collapse;
    color: rgb(29, 29, 31);
}

.button{
    background-color: #3a3a3a;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius:  2px;
    table-layout: fixed;
}

.restart{
    margin-left:auto; 
    margin-right:auto;
}