#player1score{
    color: blue;
}

#player2score{
    color: red;
}

body{
    align-content: center;
}
table{
    margin-left:auto; 
    margin-right:auto;
}

.button{
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}